flows (5).json
[{"id":"3670f860.b29fc8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"3036ee50.bbd8f2","type":"function","z":"3670f860.b29fc8","name":"Send Individual Tello Command","func":"var telloaction ;\n\nif((msg.payload.tellovalue) && (msg.payload.tellovalue != \"0\")) {\n  telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.tellovalue );\n} else {\n  telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":260,"wires":[["cf38c048.393e"]]},{"id":"1a11e1cf.451b3e","type":"change","z":"3670f860.b29fc8","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["3036ee50.bbd8f2"]]},{"id":"ff3a1558.d5c208","type":"EMOTIV","z":"3670f860.b29fc8","name":"EMOTIV","x":80,"y":440,"wires":[["f3bd068b.9a1ac8"]]},{"id":"f3bd068b.9a1ac8","type":"Profile-Name","z":"3670f860.b29fc8","name":"Profile Name","profileName":"","x":260,"y":440,"wires":[["cb718b90.21cab8","43eb0dee.4faad4"]]},{"id":"cb718b90.21cab8","type":"Mental-Command","z":"3670f860.b29fc8","name":"Mental Commands","actionName":"push","mcSen":"10","x":470,"y":400,"wires":[["fcf3edca.fe847"]]},{"id":"2ae08a6b.d07506","type":"change","z":"3670f860.b29fc8","name":"Command","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["3036ee50.bbd8f2"]]},{"id":"4945c7db.eb2c58","type":"delay","z":"3670f860.b29fc8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":80,"wires":[["1a11e1cf.451b3e"]]},{"id":"16c80968.58e637","type":"change","z":"3670f860.b29fc8","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["3036ee50.bbd8f2"]]},{"id":"38e4c17d.e3b44e","type":"change","z":"3670f860.b29fc8","name":"UP 30","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":340,"wires":[["e0a42853.456228"]]},{"id":"e0a42853.456228","type":"function","z":"3670f860.b29fc8","name":"Send Individual Tello Commands","func":"var telloaction ;\nif( msg.payload.distance != \"0\") {\n   telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.distance );\n} else {\n   telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;\n","outputs":1,"noerr":0,"x":1020,"y":440,"wires":[["ff871ce4.7604f"]]},{"id":"cf38c048.393e","type":"udp out","z":"3670f860.b29fc8","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1510,"y":440,"wires":[]},{"id":"eef08a2b.c48f78","type":"udp in","z":"3670f860.b29fc8","name":"","iface":"","port":"8890","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":180,"y":840,"wires":[["d1a1281a.c72b68"]]},{"id":"d1a1281a.c72b68","type":"delay","z":"3670f860.b29fc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":840,"wires":[["187bcbf8.75f434"]]},{"id":"187bcbf8.75f434","type":"change","z":"3670f860.b29fc8","name":"Parse Status into an object","rules":[{"t":"set","p":"payload","pt":"msg","to":" $filter($split($trim($string(payload)), ';'),function($v){$v != ''})\t   {$substringBefore($, ':') : \t        $contains($substringAfter($, ':'), \",\")\t        ? $map($split($substringAfter($, ':'),','),$number)\t        : $number($substringAfter($, ':'))}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":840,"wires":[["12c7b421.75f6ac"]]},{"id":"12c7b421.75f6ac","type":"change","z":"3670f860.b29fc8","name":"Height","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":960,"wires":[["a5f933c0.aa529","4c4973e3.d78b5c"]]},{"id":"24c45d71.9be032","type":"change","z":"3670f860.b29fc8","name":"DOWN 20","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":560,"wires":[["e0a42853.456228"]]},{"id":"a5f933c0.aa529","type":"ui_gauge","z":"3670f860.b29fc8","name":"","group":"7ca39b94.1bcbb4","order":3,"width":"6","height":"6","gtype":"wave","title":"Height","label":"","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":960,"wires":[]},{"id":"43eb0dee.4faad4","type":"Mental-Command","z":"3670f860.b29fc8","name":"Mental Commands","actionName":"neutral","mcSen":"10","x":480,"y":480,"wires":[["91fbbb7.0d99948"]]},{"id":"ff871ce4.7604f","type":"delay","z":"3670f860.b29fc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":440,"wires":[["cf38c048.393e"]]},{"id":"fcf3edca.fe847","type":"function","z":"3670f860.b29fc8","name":"Yes - Threshold 5","func":"var spoken = context.get('spoken') || false;\nvar threshold = 5;\nvar outString = \"yes\";\nvar outMsg = {payload: \"\", text : outString};\n\nif (!spoken) {\n    if (msg.payload >= threshold) {\n        outMsg.payload = outString;\n        spoken = true;\n    }\n}\n\n\nconsole.log(outMsg);\n\ncontext.set('spoken', spoken);\nreturn outMsg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["38e4c17d.e3b44e"]]},{"id":"91fbbb7.0d99948","type":"function","z":"3670f860.b29fc8","name":"Yes - Threshold 5","func":"var spoken = context.get('spoken') || false;\nvar threshold = 5;\nvar outString = \"yes\";\nvar outMsg = {payload: \"\", text : outString};\n\nif (!spoken) {\n    if (msg.payload >= threshold) {\n        outMsg.payload = outString;\n        spoken = true;\n    }\n}\n\n\nconsole.log(outMsg);\n\ncontext.set('spoken', spoken);\nreturn outMsg;","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["24c45d71.9be032"]]},{"id":"5496e1f8.355be","type":"delay","z":"3670f860.b29fc8","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":260,"wires":[["16c80968.58e637"]]},{"id":"4c4973e3.d78b5c","type":"function","z":"3670f860.b29fc8","name":"Yes - Threshold 5","func":"if (msg.payload >= '150')\nreturn msg","outputs":1,"noerr":0,"x":990,"y":880,"wires":[["1101b67c.62886a","1c96673b.2ddf39","9f744d78.94ba3","51ba6821.677738"]]},{"id":"1101b67c.62886a","type":"debug","z":"3670f860.b29fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":720,"wires":[]},{"id":"ea16dd14.fddda","type":"inject","z":"3670f860.b29fc8","name":"Takeoff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":120,"wires":[["4945c7db.eb2c58","2ae08a6b.d07506","5496e1f8.355be"]]},{"id":"95aaae92.390cf","type":"inject","z":"3670f860.b29fc8","name":"Land","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["16c80968.58e637"]]},{"id":"e378a82f.aa2048","type":"ui_button","z":"3670f860.b29fc8","name":"","group":"7ca39b94.1bcbb4","order":2,"width":0,"height":0,"passthru":false,"label":"Take Off","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":200,"wires":[["4945c7db.eb2c58","2ae08a6b.d07506","5496e1f8.355be"]]},{"id":"6b5c7d3a.d224b4","type":"ui_button","z":"3670f860.b29fc8","name":"","group":"7ca39b94.1bcbb4","order":1,"width":0,"height":0,"passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":320,"wires":[["16c80968.58e637"]]},{"id":"1c96673b.2ddf39","type":"function","z":"3670f860.b29fc8","name":"Sound","func":"var newMsg = { payload: \"Well Done\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1240,"y":800,"wires":[["4051d703.6ae148"]]},{"id":"4051d703.6ae148","type":"play audio","z":"3670f860.b29fc8","name":"","x":1470,"y":780,"wires":[]},{"id":"9f744d78.94ba3","type":"change","z":"3670f860.b29fc8","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":700,"wires":[["25b84390.1130fc"]]},{"id":"25b84390.1130fc","type":"function","z":"3670f860.b29fc8","name":"Send Individual Tello Command","func":"var telloaction ;\n\nif((msg.payload.tellovalue) && (msg.payload.tellovalue != \"0\")) {\n  telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.tellovalue );\n} else {\n  telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":700,"wires":[["cf38c048.393e"]]},{"id":"51ba6821.677738","type":"ui_svg_graphics","z":"3670f860.b29fc8","group":"7ca39b94.1bcbb4","order":3,"width":"6","height":"6","svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"100\" height=\"100\" style=\"fill:none; stroke: none;\"/><defs id=\"svgEditorDefs\"><symbol id=\"1f600\" viewBox=\"0 0 64 64\" preserveAspectRatio=\"xMidYMid meet\"><rect x=\"0\" y=\"0\" width=\"64\" height=\"64\" style=\"stroke:none;fill:none;\"/><g xmlns=\"http://www.w3.org/2000/svg\"><circle cx=\"32\" cy=\"32\" fill=\"#ffdd67\" r=\"30\"/><path d=\"m51 35.32c0 8.05-6.311 17.447-19 17.447-12.693 0-19-9.395-19-17.447 0 0 6.307 0 19 0 12.689 0 19 0 19 0\" fill=\"#664e27\"/><path d=\"m34.1 40.803c-.662-.016-1.676.576-1.305 2.143.188.791 1.355 1.748 1.355 3.02 0 2.596-4.303 2.596-4.303 0 0-1.275 1.168-2.232 1.355-3.02.373-1.566-.645-2.158-1.303-2.143-1.791.045-4.729 1.9-4.729 5.04 0 3.529 3.057 6.389 6.828 6.389 3.77 0 6.826-2.859 6.826-6.389.002-3.139-2.937-4.994-4.724-5.04\" fill=\"#4c3526\"/><path d=\"m41.1 51.02c-2.408-1.408-5.432-2.299-9.105-2.299s-6.697.891-9.104 2.299c2.406 1.41 5.43 2.299 9.104 2.299s6.697-.889 9.105-2.299\" fill=\"#ff717f\"/><path d=\"m13 35h38v5h-38z\" fill=\"#fff\"/><path d=\"m32 53.764c-12.99 0-20-9.504-20-18.447v-1h40v1c0 8.943-7.01 18.447-20 18.447m-17.967-17.448c.504 7.666 6.764 15.448 17.967 15.448s17.465-7.781 17.969-15.447h-35.936z\" fill=\"#664e27\"/><path d=\"m28.5 22c0 4.418-3.584 8-8 8-4.418 0-8-3.582-8-8 0-4.416 3.582-8 8-8 4.416 0 8 3.584 8 8\" fill=\"#fff\"/><circle cx=\"20.5\" cy=\"22\" fill=\"#664e27\" r=\"4\"/><path d=\"m51.5 22c0 4.418-3.584 8-8 8-4.418 0-8-3.582-8-8 0-4.416 3.582-8 8-8 4.416 0 8 3.584 8 8\" fill=\"#fff\"/><circle cx=\"43.5\" cy=\"22\" fill=\"#664e27\" r=\"4\"/></g></symbol><polygon id=\"svgEditorIconDefs\" style=\"fill:rosybrown;\"/></defs><use xlink:href=\"#1f600\" x=\"23.450134277343743\" y=\"8.355789184570312\" width=\"46.49595687331537\" height=\"46.49595687331537\" id=\"e1_emoji\" transform=\"matrix(1.80715 -0.00497358 0.00478088 1.87999 -38.5845 -5.88055)\"/></svg>","clickableShapes":[{"targetId":"","action":"click","payload":"","payloadType":"str","topic":""}],"smilAnimations":[{"id":"","targetId":"","classValue":"","attributeName":"","fromValue":"","toValue":"","trigger":"msg","duration":"1","durationUnit":"s","repeatCount":"0","end":"restore","delay":"1","delayUnit":"s","custom":""}],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"outputField":"payload","editorUrl":"http://drawsvg.org/drawsvg.html","directory":"","name":"","x":1380,"y":880,"wires":[[]]},{"id":"7ca39b94.1bcbb4","type":"ui_group","z":"","name":"Group 1","tab":"1c4590d5.782def","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c4590d5.782def","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":3}]